.root {
  border-radius: 6px;
  padding: 1px 6px;
  border: none;
  background-color: white;
  box-shadow:
    0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3),
    -0.5px -0.5px 0.5px rgba(0, 0, 0, 0.3),
    0.5px -0.5px 0.5px rgba(0, 0, 0, 0.3),
    -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
