.tableListWrapper {
  min-width: min(324px, 25%);

  background-color: #dfe1e2;
  padding: 16px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bot {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tableList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .item {
      padding: 6px 8px;
      border-radius: 4px;
      transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      font-size: 16px;

      .tableName {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      &.selected {
        background-color: #c5c9cae6;
      }

      .columns {
        padding: 0 10px;
        font-size: 12px;
        color: #4a4a4a;
        transform: scale(0);
        height: 0;

        .column {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}

.tag {
  color: #838586;
}

.modalContent {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  .textarea {
    padding: 4px;
  }
}

.actions {
  width: 100%;
  overflow-y: auto;
  padding: 4px;
  display: flex;
  gap: 3px;
  button {
    padding: 0;
  }
}
